<!DOCTYPE html>
<html>
<head>
<title>show page : specific farm</title>
</head>

<body>

<h1>specific farm:<%= foundFarm.name%></h1>
<ul>
    <li><div>farm id: <%= foundFarm._id%></div></li>
    <li><div>farm name: <%= foundFarm.name%></div></li>
    <li><div>farm location: <%= foundFarm.location%></div></li>
    <li><div>farm contact number: <%= foundFarm.contact%></div></li>
    <h2><div>products:</div></h2>
    <ul>
        <% for (let product of foundFarm.products) {%>
            <li><a href="/products/<%=product.id%>"><%=product.name%></a></li>
        <% } %>
    </ul>

</ul>
<a href="/farms/<%=foundFarm._id%>/edit">edit a farm</a>
<a href="/farms/<%=foundFarm._id%>/products/new">add a new product</a>
<form action="/farms/<%=foundFarm._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<a href="/farms">back to all farms</a>




</body>
</html>